@import "@/styles/variables/z-index";
@import "@/styles/color-mapping";

.ant-layout-sider {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  z-index: $max-z-index;
}

.ant-layout-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: $max-z-index - 1;
  background-color: var(--color-background);
}

.ant-layout-content {
  background-color: var(--color-background);
}
